<h6>Create Todo:</h6>
<form [formGroup]="todosForm" (ngSubmit)="obSubmit()">
  <div class="row">
    <div class="col-md-3">
        <mat-form-field>
            <input matInput placeholder="Description" [ngClass]="formClassDescp" formControlName="description" required>
            <mat-error *ngIf="isTodosFieldInvalid('description')">
              Please enter a description
            </mat-error>
          </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field>
            <input matInput placeholder="Responsible" [ngClass]="formClassRespo" formControlName="responsible" required>
            <mat-error *ngIf="isTodosFieldInvalid('responsible')">
              Please enter a description
            </mat-error>
          </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field>
            <mat-select [(value)]="selected" formControlName="priority" [ngClass]="formClassPrio" placeholder="Priority" required>
              <mat-option *ngFor="let prio of priorities" [value]="prio.value">
                  {{ prio.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="isTodosFieldInvalid('priority')">
              Please choose a Priority
            </mat-error>
          </mat-form-field>
    </div>
    <div class="col-md-3">
      <button mat-button type="submit" class="btn btn-primary create">Create</button>
    </div>
  </div>
</form>
<br />
<h6>Todos List:</h6>
<div *ngIf="(todoList)?.length!=0">
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Todo Description</th>
      <th>Responsible</th>
      <th>Priority</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of todoList">
      <td><span (click)="toggleTodo(t)" [class.completed]="t.isCompleted">{{ t.id }}</span></td>
      <td><span (click)="toggleTodo(t)" [class.completed]="t.isCompleted">{{ t.description }}</span></td>
      <td><span (click)="toggleTodo(t)" [class.completed]="t.isCompleted">{{ t.responsible }}</span></td>
      <td>
        <span *ngIf="t.priority == 'low'" class="badge badge-success">Low</span>
        <span *ngIf="t.priority == 'medium'" class="badge badge-warning">Medium</span>
        <span *ngIf="t.priority == 'high'" class="badge badge-danger">High</span>
      </td>
      <td><button class="btn btn-primary" (click)="removeTodo(t)">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>
