.log-reg-container {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/blur_bg.jpg");
  .heading > h2 {
    color: white !important;
    font-family: cursive;
  }
  > .mat-card {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 430px;
    background: rgba(255, 255, 255, 0.44);
    margin-top: 10%;
  }
  .mat-tab-group {
    width: 100%;
  }
  .col-md-6 {
    padding: 0px;
  }
  .login-container,
  .register-container {
    padding: 15px;
  }
  .login-container .mat-checkbox,
  .register-container .mat-checkbox {
    width: 100%;
    display: inline-block;
  }

  .login-container .mat-input-container,
  .register-container .mat-input-container {
    width: 100%;
  }

  .mat-button {
    border: 1px solid rgb(51, 58, 119);
    background-color: #aaa;
  }
  .mat-icon.material-icons:hover {
    cursor: pointer;
  }
}
