<div class="absolute">

</div>
<div class="toolbar-outer">

</div>
<div class="header">
    <app-web-subs-menu></app-web-subs-menu>
</div>
<div class="headerbar">

</div>
<div class="top-a-outer">

</div>
<div class="top-b-outer">

</div>
<div class="main-outer">
    <!-- <app-web></app-web> -->
    <router-outlet></router-outlet>
</div>
<div class="bottom-a-outer">

</div>
<div class="bottom-b-outer">

</div>
<div class="footer-outer">
    <app-footer></app-footer>
</div>

<div style="text-align:center">