<section id="about-us-page" class="section">
  <div class="container">
    <div *ngIf="(!(pageState$ | async)?.title) else pageContainer">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #pageContainer>
      <div class="row">
        <div class="col-md-12">
          <h1 class="section-title wow fadeIn animated" data-wow-delay=".2s">
            {{ (pageState$ | async).title }}
          </h1>
        </div>
        <div class="col-md-12">
          <p class="section-subcontent">
            {{ (pageState$ | async).subTitle }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <img class="img-fluid" src="https://unsplash.it/350/350?image=452" alt="">
        </div>

        <div class="col-sm-12 col-md-8">
          <h3 class="small-title">
            {{ (pageState$ | async).descLabel }}
          </h3>
          <p>{{ (pageState$ | async).description }}</p>
          <mat-tab-group>
            <div *ngFor="let section of (pageState$ | async).sections.data as sections">
              <mat-tab label="{{section.label}}">
                <mat-card>
                  <mat-card-content>
                    {{section.text}}
                  </mat-card-content>
                </mat-card>
              </mat-tab>
            </div>
          </mat-tab-group>
        </div>
      </div>
    </ng-template>
  </div>
  <!-- Container Ends -->
</section>
<!-- Service Main Section Ends -->