<section id="header">
  <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
    <div class="container">
      <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>
        ☰
      </button>
      <a class="navbar-brand" routerLink="./home">
        <img src="./assets/img/jld_logo.PNG" alt="">
      </a>
      <div class="navbar-toggleable-sm pull-right" id="main-menu">
        <ul class="nav nav-inline">
          <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/aboutus" routerLinkActive="active" class="nav-link" role="button">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/thebible" routerLinkActive="active" class="nav-link" role="button">
              The BiBle
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact" routerLinkActive="active" class="nav-link" role="button" aria-haspopup="true">
              Contact Us
            </a>
          </li>
          <!-- Search in right of nav -->
          <li *ngIf="((user$ | async)?.name); else loginBtn" class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>{{ (user$ | async)?.name }}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
              <a routerLink="./profile" routerLinkActive="active" class="dropdown-item">
                Profile
              </a>
              <a class="dropdown-item" (click)="logout($event)" class="dropdown-item">
                  Logout
              </a>
            </div>
          </li>
          <ng-template #loginBtn>
            <li class="nav-item">
              <a routerLink="/login" routerLinkActive="active"  class="nav-link">
                {{ btnTitle }}
              </a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>

</section>
