.spacer {
  flex: 1 1 auto;
}
.active {
  background-color: bisque;
  border: 1px solid #aaa;
}

nav.navbar {
  cursor: pointer;
}
.nav-item.dropdown {
  list-style-type: none;
}
button.dropdown-item {
  cursor: pointer;
}
