<aside class="al-sidebar">
  <ul class="al-sidebar-list">
    <li class="al-sidebar-list-item">

      <a class="al-sidebar-list-link" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-home"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="al-sidebar-list-item">
      <a class="al-sidebar-list-link" routerLink="./aboutus" routerLinkActive="active">
        <i class="fa fa-users"></i>
        <span>aboutus</span>
      </a>
    </li>
    <li class="al-sidebar-list-item">
      <a class="al-sidebar-list-link" routerLink="./users" routerLinkActive="active">
        <i class="fa fa-users"></i>
        <span>Users</span>
      </a>
    </li>
  </ul>
</aside>
