<div>
  <h2>Bible Search</h2>
  <h4>Here you can search for Bible version and verses!</h4>
  <mat-card class="bible-search">
    <div class="row selection">
      <div class="col-md-6">
        <button mat-button (click)="toggleSelectionTabs = !toggleSelectionTabs">
          {{selection}}
          <mat-icon svgIcon="carret_down" class="green"></mat-icon>
        </button>
      </div>
      <div class="col-md-6">
        <button mat-button>
          <mat-icon svgIcon="carret_down" class="green"></mat-icon>
        </button>
      </div>
    </div>
  </mat-card>

  <mat-card class="bible-selection-tabs" *ngIf="toggleSelectionTabs">
    <mat-tab-group class="tab-group" dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa fa-clone"></i>&nbsp;
          {{selectionTabs[0].label}}
        </ng-template>
        <div class="tab-content version">
            <button mat-button *ngFor="let content of selectionTabs[0].content" (click)="onSelectLanguage(content)"
              [class]="selectedLanguage.name == content.name ? 'mat-button ng-star-inserted selected' : 'mat-button ng-star-inserted'">
                {{content.name}}
            </button>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa fa-clone"></i>&nbsp;
          {{selectionTabs[1].label}}
        </ng-template>
        <div class="tab-content version">
            <button mat-button *ngFor="let content of selectionTabs[1].content" (click)="onSelectVersion(content)"
              [class]="selectedVersion.name == content.name ? 'mat-button ng-star-inserted selected' : 'mat-button ng-star-inserted'">
                {{content.name}}
            </button>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
            <i class="fa fa-book"></i>&nbsp;
          {{selectionTabs[2].label}}
        </ng-template>
        <div class="tab-content book">
            <button mat-button *ngFor="let content of selectionTabs[2].content" (click)="onSelectBook(content)"
              [class]="selectedBook.name == content.name ? 'mat-button ng-star-inserted selected' : 'mat-button ng-star-inserted'">
                {{content.name}}
            </button>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa fa-bookmark"></i>&nbsp;
          {{selectionTabs[3].label}}
        </ng-template>
        <div class="tab-content chapter">
            <button mat-button *ngFor="let content of selectionTabs[3].content" (click)="onSelectChapter(content)"
              [class]="selectedChapter.number == content.number ? 'mat-button ng-star-inserted selected' : 'mat-button ng-star-inserted'">
                {{content.number}}
            </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

  <mat-card class="bible-result">
      <mat-card-title>Result!</mat-card-title>
    <mat-card-content>
        {{ result }}
    </mat-card-content>
  </mat-card>
</div>