<h6>Create Todo:</h6>
<form [formGroup]="todosForm" (ngSubmit)="obSubmit()">
  <div class="row">
    <div class="col-md-3">
        <mat-form-field>
            <input matInput placeholder="Description" [ngClass]="formClassDescp" formControlName="description" required>
            <mat-error *ngIf="isTodosFieldInvalid('description')">
              Please enter a description
            </mat-error>
          </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field>
            <input matInput placeholder="Responsible" [ngClass]="formClassRespo" formControlName="responsible" required>
            <mat-error *ngIf="isTodosFieldInvalid('responsible')">
              Please enter a description
            </mat-error>
          </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field>
            <mat-select [(value)]="selected" formControlName="priority" [ngClass]="formClassPrio" placeholder="Priority" required>
              <mat-option *ngFor="let prio of priorities" [value]="prio.value">
                  {{ prio.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="isTodosFieldInvalid('priority')">
              Please choose a Priority
            </mat-error>
          </mat-form-field>
    </div>
    <div class="col-md-3">
      <button mat-button type="submit" class="btn btn-primary create">Create</button>
    </div>
  </div>
</form>
<br />
<h6>Todos List:</h6>
<div *ngIf="(todoList)?.length!=0" class="example-container">
    <mat-table #table [dataSource]="todoList">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
    
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef>Todo Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>
    
        <!-- Responsivle Column -->
        <ng-container matColumnDef="responsible">
          <mat-header-cell *matHeaderCellDef> Responsible </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.responsible}} </mat-cell>
        </ng-container>
    
        <!-- Priority Column -->
        <ng-container matColumnDef="priority">
          <mat-header-cell *matHeaderCellDef> Priority </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.priority == 'low'" class="badge badge-success">Low</span>
            <span *ngIf="element.priority == 'medium'" class="badge badge-warning">Medium</span>
            <span *ngIf="element.priority == 'high'" class="badge badge-danger">High</span>
          </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
              <button class="btn btn-primary" (click)="removeTodo(element)">Delete</button>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
</div>
