<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Jesus Liebt Dich</span>

    <span class="spacer"></span>

    <a routerLink="/home" routerLinkActive="active">
      <button mat-button>Home</button>
    </a>
    <a routerLink="/aboutus" routerLinkActive="active">
      <button mat-button>About</button>
    </a>
    <a routerLink="/todos" routerLinkActive="active">
      <button mat-button>Todos</button>
    </a>
    <a routerLink="/contact" routerLinkActive="active">
      <button mat-button>Contact</button>
    </a>
    <nav class="navbar">
      <li *ngIf="isUserLoggedIn; else loginBtn" class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>{{ loggedInuser.name }}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a routerLink="/user" routerLinkActive="active">
            <button mat-button>About</button>
          </a>
          <button class="dropdown-item" (click)="logout($event)">Logout</button>
        </div>
      </li>
    </nav>

    <!-- <a  (click)="logout" ><button mat-button data-id="test">{{ loggedInuser.name }}</button></a> -->
    <ng-template #loginBtn>
      <a routerLink="/login" routerLinkActive="active">
        <button mat-button>{{ btnTitle }}</button>
      </a>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>