<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="./admin/dashboard" class="al-logo clearfix">
    <span>JLD</span>Admin</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <div class="search">
    <i class="fa fa-search" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>

  <div class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown>
        <a [matMenuTriggerFor]="menu">
            {{ (user$ | async)?.name }}
          </a>
        <mat-menu #menu="matMenu">
            <a mat-menu-item rrouterLink="./admin/profile" routerLinkActive="active">
              <button mat-button>
                <i class="fa fa-user"></i>
                Profile
              </button>
            </a>
            <a mat-menu-item (click)="logout($event)">
              <button mat-button>
                <i class="fa fa-power-off"></i>
                Logout
              </button>
            </a>
          </mat-menu>
    </div>
  </div>
</div>
