@import 'theme/conf/variables';

a.al-logo {
  color: $sidebar-text;
  display: block;
  font-size: 24px;
  font-family: $font-family;
  white-space: nowrap;
  float: left;
  outline: none !important;
  line-height: 60px;

  span {
    color: $primary;
  }
}

.mat-sidenav {
  min-width: 15vw;

  .mat-button {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 24px 0;
  }
}


.demo-content {
  padding: 32px;
  box-sizing: border-box;
}
.al-content {
  padding: 8px 32px 8px 40px;
}
.mat-toolbar {
  .mat-icon {
    cursor: pointer;
  }

  .demo-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.al-main::before {
  position: fixed;
  background: url("/assets/img/blur_bg.jpg") center center no-repeat;
  background-size: cover;

  content: '';
  height: 100%;
  top: 0;
  left: 0;
  will-change: transform;
  z-index: -1;
  width: 100%;
}
